section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    min-height: 100vh;
    padding: 8em 5em 2em 5em;
    background-color: var(--white);
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  
  .level-1 {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2em;
  }
  .level-1 h3 {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .level-1 p {
    margin: 0.5em 0 0 0.5em;
  }
  
  .level-1 ul > li {
    font-size: 1.2rem;
    padding: 0.3em;
    transition: transform 0.3s ease-in-out;
  }
  /* .level-1 i{
    padding: 0.3em;
    transition: transform;
  }
  .level-1 ul > i:hover{
    transform:scale(1);
    cursor: pointer;
  } */
  .level-1 ul > li:hover {
    color: var(--red);
    /* transform: rotateX('45'); */
    cursor: pointer;
  }
  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .level-1 li:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .level-1 li:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .level-1 li:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .level-2 {
    padding: 0.3em 1em;
  }
  .level-2 li p {
    color: var(--red);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1em 0;
    text-transform: uppercase;
    border-bottom: 1px solid #fde0ac;
  }
  
  @media screen and (max-width: 600px) {
    nav {
      padding: 1em 2em;
    }
    nav h1 {
      font-size: 0.9rem;
    }
    section {
      padding: 8em 2em 2em 2em;
    }
    .level-1 {
      grid-template-columns: 1fr;
    }
    .level-1 li:nth-of-type(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .level-1 li:nth-of-type(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .level-1 li:nth-of-type(3) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .level-1 li:nth-of-type(4) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }