main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8;
}
.hero-info h2 {
  font-size: clamp(2rem, 9vw, 5rem);
  line-height: clamp(2rem, 9vw, 5rem);
  text-transform: uppercase;
}
.hero-info h1 {
  color: var(--white);
  font-size: clamp(3.2rem, 10vw, 7rem);
  line-height: clamp(3.2rem, 10vw, 7rem);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.hero-info h3 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2em;
}
@supports (-webkit-text-stroke: 3px var(--pill)) {
  .hero-info h2 {
    color: transparent;
    -webkit-text-stroke: 3px var(--pill);
    text-shadow: none;
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.hi-2 {
  background-image: url("https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.hi-3 {
  background-image: url("https://images.unsplash.com/flagged/photo-1552035791-b3cc1632e933?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
}

.hi-4 {
  background-image: url("https://images.unsplash.com/photo-1574700273608-7962d3602a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.hi-5 {
  background-image: url("https://images.unsplash.com/photo-1605045544284-d13c6d6a60a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
